body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  padding: 8px;
  background-color: #f0f0f0;
}

.gallery-container {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.dropdown{
  width:200px;
  border-radius: 10px;
}

.controls {
  margin-bottom: 20px;
}

select, button {
  padding: 8px;
  margin: 0 5px;
}

button{
  border-radius: 10px;
  width: 100px;
  border: 1px solid white;
  background-color: rgb(15, 15, 48);
  color: white;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.grid img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}
